<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>여행계획 글</title>
</head>
<body>
<div>
    <h1>여행계획</h1>
    <h4>여행계획을 짜보세요</h4>
</div>

<div>
    <div>
        <div>
            <plan>
                <input type="hidden" id="plan_id" th:value="${plan.planId}">

                <header>
                    <input type="text" placeholder="제목" id="title" th:value="${plan.planTitle}">
                </header>
                <section>
                    <textarea placeholder="내용" id="content" th:text="${plan.planContent}"></textarea>
                </section>
                <button th:if="${plan.planId} != null" type="button" id="modify-btn">수정</button>
                <button th:if="${plan.planId} == null" type="button" id="create-btn">등록</button>
            </plan>
        </div>
    </div>
</div>

<script src="/js/plan.js"></script>
</body>
</html>